@media screen and (max-width: 768px) {
    header.master-header {
        display: none
    }
}

@media (max-width: 768px) {
    body.showing-menu header.master-header {
        background-color: #000;
        padding-bottom: 5px
    }

    body.blog-post-view #master-header .live-chat {
        visibility: hidden !important
    }

    body.blog-cat-view #master-header .live-chat {
        visibility: hidden !important
    }

    @media screen and (max-width: 768px) {
        body.customer-account-login #master-header-mobile, body.customer-account-resetpassword #master-header-mobile {
            display: none !important
        }
    }

    body.customer-account-login header.master-header, body.customer-account-login .subnav {
        display: none
    }

    body.cms-store header.master-header ul.header-controls li.first, body.cms-black-friday header.master-header ul.header-controls li.first {
        visibility: visible
    }

    body.legacy-page header.master-header {
        background-color: #fff
    }

    header.master-header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 89px;
        background-color: #fff;
        border-bottom: 1px solid #e9e9e9;
        z-index: 1000
    }

    header.master-header.push-down {
        top: 40px
    }

    header.master-header nav.site-nav ul {
        list-style: none;
        margin: 0;
        padding: 0
    }

    header.master-header nav.site-nav ul li {
        position: relative;
        float: left;
        height: 90px
    }

    header.master-header nav.site-nav ul li.active a, header.master-header nav.site-nav ul li.active-force a {
        border-bottom: 3px solid #ac3322 !important
    }

    header.master-header nav.site-nav ul li:hover {
        cursor: pointer
    }

    header.master-header nav.site-nav ul li:hover a {
        border-bottom: 3px solid #ac3322 !important
    }

    header.master-header nav.site-nav ul li:hover.nav-item-1 a {
        border-bottom: 3px solid transparent !important
    }

    header.master-header nav.site-nav ul li.nav-item-1 {
        width: 80px
    }

    header.master-header nav.site-nav ul li a.nav-link {
        display: block;
        color: #000;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 43px 0 21px 0;
        margin: 0 25px 0 25px;
        border-bottom: 3px solid transparent;
        -webkit-transition: border-color .3s;
        -webkit-transition-timing-function: ease;
        -moz-transition: border-color .3s ease-in;
        -o-transition: border-color .3s ease-in;
        transition: border-color .3s ease-in
    }

    header.master-header nav.site-nav ul li a.nav-link:hover {
        text-decoration: none
    }

    header.master-header nav.site-nav ul li .nav-search-icon {
        position: absolute;
        top: 42px;
        right: 25px
    }

    header.master-header nav.site-nav ul li .nav-search-icon-white {
        display: none
    }

    @media screen and (max-width: 992px) {
        header.master-header .container {
            width: 100%;
            padding: 0 40px
        }

        header.master-header .col-sm-8, header.master-header .col-sm-4 {
            padding: 0
        }

        header.master-header nav.site-nav ul li.nav-item-1 {
            width: 60px
        }

        header.master-header nav.site-nav ul li a.nav-link {
            margin: 0 15px 0 10px
        }
    }

    @media screen and (max-width: 768px) {
        header.master-header {
            display: none
        }
    }

    header.master-header .vizio-logo, header.master-header .vizio-menu {
        color: #000
    }

    header.master-header .vizio-logo:hover, header.master-header .vizio-menu:hover {
        text-decoration: none
    }

    header.master-header .vizio-logo .force-white, header.master-header .vizio-menu .force-white {
        color: #fff !important
    }

    header.master-header .vizio-logo {
        float: left;
        font-size: 26px;
        margin-top: 33px
    }

    header.master-header .vizio-menu {
        float: right;
        font-size: 19px;
        margin-top: 3px;
        height: 20px
    }

    header.master-header .icon-menu {
        display: none;
        width: 30px;
        height: 20px
    }

    header.master-header .icon-menu-close {
        font-size: 23px;
        margin-right: 5px
    }

    @media screen and (max-width: 480px) {
        header.master-header .icon-menu-close {
            display: block;
            margin-right: -7px;
            margin-top: -3px
        }
    }

    header.master-header .login-link {
        float: right;
        display: block;
        color: #2b2b2b;
        font-size: 13px;
        margin-top: 25px;
        margin-right: 25px;
        -webkit-transition: color .3s;
        -webkit-transition-timing-function: ease;
        -moz-transition: color .3s ease-in;
        -o-transition: color .3s ease-in;
        transition: color .3s ease-in
    }

    header.master-header .login-link:hover {
        color: #ac3322;
        text-decoration: none
    }

    header.master-header .logged-in-hello {
        float: right;
        font-family: "Open Sans Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        color: #ac3322;
        margin-top: 27px;
        margin-right: 25px;
        cursor: default
    }

    header.master-header .logged-in-hello a {
        font-family: "Open Sans Semi-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif
    }

    header.master-header .logged-in-hello a:hover {
        text-decoration: underline
    }

    header.master-header .cart-link {
        float: right;
        position: relative;
        display: block
    }

    header.master-header .cart-link:hover {
        text-decoration: none
    }

    header.master-header .cart-link .cart-quantity {
        position: absolute;
        top: 0;
        right: 35px;
        text-align: right;
        font-size: 13px
    }

    header.master-header .cart-link .cart-quantity.black {
        color: #000 !important
    }

    header.master-header .nav-cart-icon, header.master-header .nav-cart-icon-white {
        margin-top: 12px
    }

    header.master-header .nav-cart-icon-white {
        display: none
    }

    header.master-header .live-chat-li {
        display: none;
        float: right
    }

    header.master-header .live-chat-li .live-chat {
        display: block;
        color: #2b2b2b;
        font-size: 13px;
        margin-top: 20px;
        -webkit-transition: color .3s;
        -webkit-transition-timing-function: ease-in;
        -moz-transition: color .3s ease-in;
        -o-transition: color .3s ease-in;
        transition: color .3s ease-in
    }

    header.master-header .live-chat-li .live-chat:hover {
        color: #ac3322;
        text-decoration: none
    }

    header.master-header ul.header-controls {
        height: 57px;
        list-style: none;
        padding: 0;
        width: 100%;
        float: right;
        margin-top: 23px
    }

    @media screen and (max-width: 992px) {
        header.master-header ul.header-controls {
            margin-right: 15px
        }
    }

    header.master-header ul.header-controls.cart-visible {
        width: 100%
    }

    header.master-header ul.header-controls li {
        display: inline-block;
        float: right
    }

    header.master-header ul.header-controls li.global-banner-container {
        float: left
    }

    header.master-header ul.header-controls li.global-banner-container p {
        color: #fff;
        display: inline
    }

    header.master-header ul.header-controls li.global-banner-container p a {
        color: #fff
    }

    header.master-header ul.header-controls li.first {
        margin-right: 28px;
        line-height: 27px
    }

    @media screen and (max-width: 768px) {
        header.master-header ul.header-controls li.first {
            margin-right: 28px;
            line-height: 29px
        }
    }

    header.master-header ul.header-controls li.first a, header.master-header ul.header-controls li.first p {
        margin-left: 10px;
        color: #000
    }

    header.master-header ul.header-controls li.cart {
        margin-right: 32px;
        margin-left: 10px
    }

    header.master-header ul.header-controls li.cart .cart-control {
        display: inline-block;
        width: 35px;
        height: 24px;
        font-size: 25px;
        color: #2C2C2C;
        margin-top: 2px;
        position: relative;
        z-index: 10
    }

    @media screen and (max-width: 768px) {
        header.master-header ul.header-controls li.cart .cart-control {
            margin-top: 3px
        }
    }

    header.master-header ul.header-controls li.cart .cart-control .cart-quantity {
        position: absolute;
        top: -5px;
        right: 3px;
        background-color: #ac3322;
        width: 19px;
        height: 19px;
        border-radius: 90px;
        color: #FFF;
        font-size: 11px;
        text-align: center;
        line-height: 18px;
        -webkit-transition: all .5s;
        -webkit-transition-timing-function: ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease
    }

    header.master-header ul.header-controls li.cart .cart-control .cart-quantity.black {
        background-color: #000
    }

    header.master-header ul.header-controls li.cart .cart-control:hover {
        text-decoration: none
    }

    header.master-header ul.header-controls li.cart .cart-control:hover .cart-quantity {
        -webkit-transition: all .2s;
        -webkit-transition-timing-function: ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease
    }

    @media screen and (max-width: 480px) {
        header.master-header ul.header-controls li.cart .cart-control {
            position: absolute;
            right: 50px
        }
    }

    @media screen and (max-width: 768px) {
        header.master-header ul.header-controls li.cart {
            margin-right: 58px
        }
    }

    .black-heading {
        position: fixed;
        top: 0;
        width: 100%;
        height: 75px;
        background-color: #000;
        z-index: 100
    }

    @media screen and (max-width: 768px) {
        header.master-header ul.header-controls {
            margin-right: 23px;
            position: relative
        }

        header.master-header .vizio-logo {
            margin-left: 20px;
            font-size: 21px;
            margin-top: 27px
        }

        header.master-header .vizio-menu {
            font-size: 18px;
            margin-top: 6px;
            margin-right: 0;
            position: absolute;
            right: 0
        }
    }
}